NODE_ENV=development
PORT=4000
AUTH_SERVICE_URL=http://localhost:4001
PATIENT_SERVICE_URL=http://localhost:4002
DOCTOR_SERVICE_URL=http://localhost:4003
APPOINTMENT_SERVICE_URL=http://localhost:4004
PAYMENT_SERVICE_URL=http://localhost:4005
NOTIFICATION_SERVICE_URL=http://localhost:4006
AI_SERVICE_URL=http://localhost:4007
