NODE_ENV=development
PORT=4004
MONGO_URI=mongodb://localhost:27017/appointment_db
SERVICE_NAME=appointment-service
DOCTOR_SEARCH_SOURCE=http
DOCTOR_SERVICE_URL=http://doctor-service:4003
JWT_SECRET=medora_secret_key_2024_auth_system
