NODE_ENV=development
PORT=4002
MONGO_URI=mongodb://localhost:27017/patient_db
JWT_SECRET=011786282a6df28d9bf6b851870bb519dea8ceda3aae78cc1634e4a32d34ddc7
UPLOAD_DIR=./uploads/medical-documents
MAX_FILE_SIZE=10485760
SERVICE_NAME=patient-service
