NODE_ENV=development
PORT=4002
MONGO_URI=mongodb://localhost:27017/patient_db
JWT_SECRET=change_this_auth_jwt_secret_in_production
UPLOAD_DIR=./uploads/medical-documents
MAX_FILE_SIZE=10485760
SERVICE_NAME=patient-service
