NODE_ENV=development
PORT=4005
MONGO_URI=mongodb://localhost:27017/payment_db
SERVICE_NAME=payment-service
PAYHERE_SANDBOX=true
PAYHERE_MERCHANT_ID=PAYHERE_SANDBOX_MERCHANT_ID
PAYHERE_RETURN_URL=http://localhost:5173/payment/success
PAYHERE_CANCEL_URL=http://localhost:5173/payment/cancel
PAYHERE_NOTIFY_URL=http://localhost:4005/payment/webhook
PAYHERE_CHECKOUT_URL=https://sandbox.payhere.lk/pay/checkout
